/* Anotações */

/* Tudo dentro do /* é desconsiderado

body {
    background-color: teal;
}

*/

/* 
    Anatomia

    * Declaration
    * Selector
    * {} - context
    * Properties
    * Property value
*/

h1 {
    color:darkslateblue;
    font-size: 32px;
    text-transform: uppercase;
}

/* Cascading

    - Cascata
    - Hierarquia de regras

*/

p {
    color: white;
    color: darkslateblue;
}

.black {
    color: black;
}